.item {
    position: relative;
    z-index: 1000; /* or absolute */
    left:0;

    transition: left 0.7s; /** <- removed position **/
    left: 0;
}


.item:hover::before {
    content: "";
    position: absolute;
    top: 130px;
    right: 0;
    bottom: 0;
    left:0;
    width: 95%;
    height: 70%;
    border-radius: 8px;
    background-image: linear-gradient(100deg, transparent, #0398ed);
    z-index: -100;
    transform: rotate(2deg) translateX(-9px) translateY(15px);
}